@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#topo {
    height: 70px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
}

.menu {
    height: 100%;
    align-content: center;
}

.menu ul{
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
    margin: 5px;
}

.menu a {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: #063841;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.menu a:hover {
    color: #0b778a;
    padding: 10px 20px;
    background-color: #063841;
    border-radius: 10px;
    color: white;
}

.contat1 {
    display: none;
}

#conteudo {
    background-image: url('../imagens/bg4.png');
    background-repeat: repeat;
    background-size: cover;
    padding: 0px 15px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
}



.informacoes {
    display: block;
    margin: auto auto;
}

.inf {
    
    h1 {
        font-size: 2.5em;
        color: #063841;
        margin-left: 10px;
    }

    h2 {
        font-size: 1.6em;
        font-weight: lighter;
        margin-bottom: 5px;
        color: #0b778a;
        margin-left: 10px;
    }

    p {
        max-width: 430px;
        line-height: 1.4em;
        margin-left: 10px;
    }
}

.rede {
    margin-top: 0px;
    max-width: 90vw;
    margin: 50px 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

.rede a {
    color: #063841;
    background-color: white;
    border-radius: 15px;
    font-size: 1.9em;
    padding: 10px 30px;
    
    transition: background-color 0.5s, color 0.5s;
}

.rede a:hover {
    background-color: #063841;
    color: white;
    padding: 10px 30px;
}

#conteudo .img {
    display: flex;
    margin: 0px auto;
    align-self: flex-end;
    max-height: 46%;
}

.img > img {
    max-height: 10px;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}