@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: url('../imagens/bg4.png');
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}


#topo {
    height: 70px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
}

.menu {
    height: 100%;
    align-content: center;
}

.menu ul{
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
    
}

.menu a {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: #063841;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.menu a:hover {
    color: #0b778a;
    padding: 10px 20px;
    background-color: #063841;
    border-radius: 10px;
    color: white;
}

.contat1 {
    display: none;
}

#conteudo {
    display: flex;
    justify-content: center;
}

.works-container {
    grid-area: 2 / 2;
    width: 90vw;
    align-content: center;
}

/* Container principal alinhando botões e carrossel */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  height: 400px;
  margin: 50px auto;
}

/* A janela que esconde o que passa do limite */
.carousel-track-wrapper {

  overflow: hidden;
  width: 352px;
  
  border-radius: 8px;
}

/* A trilha que segura todos os slides lado a lado */
.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out; /* Animação suave na transição */
}

/* Cada slide individual */
.carousel-slide {
    
}

/* Estilo básico dos botões */
.carousel-btn {
    position: absolute;
}

.carousel-btn1 {
    top: 50%;
    z-index: 1;
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 15px;
    left: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    
}
.carousel-btn2 {
    top: 50%;
    right: -5px;
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.carousel-btn:hover {
  background-color: #004d40;
}

#conteudo-container {
    max-width: 352px;
    background-color: white;
    display: block;
    border-radius: 10px;
}



.imagem img {
    background-color: white;
    display: block;
    margin: auto;
    padding-top: 5px;
    border-radius: 10px;
    width: 360px;
    transition: width 0.5s;
}

.imagem img:hover {
    background-color: white;
    width: 365px;
}

.conteudo {
    display: block;
    background-color: white;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    
    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding: 7px 0px;
        border-radius: 0px 0px 10px 10px;
        color: white;
    }

    a:hover {
        font-weight: bold;
    }

}

.link_ {
    background-color: gray;
    width: 100%;
    height: 100%;
}

.cont-filho {
    display: block;
    margin: 20px;
    justify-content: center;
    background-color: white;
    
    text-align: justify;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

.imagem {
    width: 352px;
    height: 200px;
    background-color: #004d40;
    border-radius: 10px;
    transition: 0.5s;
}

.imagem:hover {
    transform: scale(1.02);
}

.image1 {
 background-image: url('../imagens/projeto-01-videos.jpg');
 background-position: 50% 50%;
 background-size: cover;
}

.image2 {
    background-image: url('../imagens/projeto-02-cordel.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.image3 {
    background-image: url('../imagens/projeto-03-android.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.image4 {
    background-image: url('../imagens/projeto-04-links.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.image5 {
    background-image: url('../imagens/projeto-05-login.jpg');
    background-position: 50% 50%;
    background-size: cover;
}