@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.img {display: none;}

#boneco-interativo {
    width: 450px;
    height: 700px;
    background-image: url('../imagens/boneco4.png');
    background-repeat: no-repeat;
    margin: 0px auto;
    align-self: flex-end;
    grid-area: 2 / 1;
}

#conteudo {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    align-content: flex-end;
    background-image: url('../imagens/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#topo {
    position: absolute;
    width: 100vw;
    height: 70px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
}

.menu {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    height: 100%;
    align-content: center;
}

.menu ul{
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    list-style: none;
    align-content: center;
}

.link{
    display: flex;
    align-items: center;
    color: #063841;
    text-decoration: none;
    padding: 10px 15px;
    justify-content: center;
    margin: 15px;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.link:hover {
    background-color: #063841;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
}

.contat {
    font-weight: bold;
    border: 2px solid #063841;
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-decoration: none;
    color: #063841;
    margin-left: 15px;
    transition: background-color 0.5s, color 0.5s;
}

.contat:hover {
    height: 40px;
    border-radius: 25px;
    background-color: #063841;
    color: white;
}

#container {
    height: 100vh;
    width: 100vw;
}

.informacoes {
    min-width: 100v;
    width: 100%;
    display: block;
    margin: auto 0px;
    align-content: center;
    grid-area: 2 / 2;
}

.informacoes {
    
    h1 {
        font-size: 4em;
        color: #063841;
    }

    h2 {
        font-size: 2.6em;
        font-weight: lighter;
        margin-bottom: 5px;
        color: #0b778a;
    }

    p {
        max-width: 430px;
        line-height: 1.4em;
    }
}

.rede {
    display: flex;
    margin-top: 40px;
}


.rede a {
    display: inline-block;
    margin-top: 10px;
    color: #063841;
    background-color: white;
    border-radius: 15px;
    font-size: 3em;
    padding: 10px 40px;
    margin-right: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.rede a:hover {
    background-color: #063841;
    color: white;
    
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}
